*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    font-family: 'Open Sans', sana-serif;
}
header{
    width: 100%;
    background: #000;
    display: flex ;
    
} //sfsfe
//рори
.header__logo{
    text-transform: uppercase;
    color:beige;
    font-size: 24px;
    cursor: pointer;
    margin-top: 56px;
    margin-left: 12%;
}
nav{
   margin-top: 56px;
   margin-left: 25%; 
}
.topnav a{
    color: #fff;
    text-align: left;
    padding: 12px 16px;
    font-size: 14px;
    font-weight: bold;

}
.topnav a:hover{
    border-bottom: 3px solid #fcac45;
}
.topnav .icon{
    display: none;
}
.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
main .main_welcome{
    
    background-color: #000;
    padding: 200px 0 410px 0;
    text-align: center;
    
}
main .main_welcome p{
    color: #fff;
    font-size: 20px;
}
main .main_welcome h1{
    color: #fff;
    font-size: 44px;
}
main .main_welcome b{
    color: #fcac45;
}
.wrapper{
    width: 80%;
    margin: 0 auto;
}
main .main_about{
    display: flex;
    padding: 100px 0 100px 0;
}
.about_right{
    margin-left: 170px;
}
.about_right h1{
    display: inline-block;
    border-bottom: 3px solid #fcac45;
    padding-bottom:20px;
}
.about_right p{
   margin: 30px 0 50px 0;
} 
.about_right li{
    background: url(img/mark.png)  0px no-repeat;
    padding-left: 25px;
    margin-top: 10px;

}
.mw-100{
    min-width: 100%;
}


@media screen and (max-width: 1200px) { 
    nav{
        margin-left: 10%;
    }
}
@media screen and (max-width: 1105px){
    nav{
        margin-left: 10%;
    }
}

@media screen and (max-width: 1010px) {
    .topnav a{
        display: none;
    }
    .topnav a.icon{
        float: right;
        margin-top: -17px;
        display: block;
        color:#fff;
        font-size: 25px;
    }
    
    nav{
        width: 100%;
    }
    .topnav.responsive{
        position: relative;
        top: 50px;
        left: -200px;
    }
    header .topnav.responsive{
        height: 340px;
    }
    .topnav.responsive a.icon{
        position: absolute;
        top: -50px;
        right: -200px;
    }
    .topnav.responsive a{
    float: none;
    display: block;
    text-decoration: left;
    }




    main .main_welcome{
        padding: 50px 0 50px 0;

    }
    main .main_welcome p{
        font-size: 14px;
        
    }
    main .main_welcome h1{
        font-size: 25px;
        
    }
    .mw-100{
        max-width: 100%;
    }
    .main_about{
        flex-direction: column;
    }
    .about_right{
        text-align: center;
        margin-left: 0px ;
    }
    .about_right li{
        text-align: left;
    }
    .about_right h1{
        font-size: 20px;
        margin-top: 10px;
    }
}